mixin head(meta, page)

	-
		var name = 'SiteName'
		var origin = 'http://localhost:3000'
		var base = {
			title: 'title',
			description: 'description',
			keywords: 'keywords',
			og: {
				title: 'og_title',
				description: 'og_description',
				type: 'website',
				image: 'http://localhost:3000/og_image.png',
				url: 'http://localhost:3000/og_url/'
			}
		}

	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")

		//- START title
		if meta.title != ''
			title #{ meta.title } | #{ base.title }
		else
			title #{ base.title }
		//- END title

		//- START meta
		if meta.description
			meta(name="description" content=meta.description)
		else
			meta(name="description" content=base.description)

		if meta.keywords
			meta(name="keywords" content=meta.keywords)
		else
			meta(name="keywords" content=base.keywords)
		//- END meta

		//- START og
		if meta.og.title
			meta(property="og:title" content=meta.og.title)
		else
			meta(property="og:title" content=base.og.title)

		if meta.og.description
			meta(property="og:description" content=meta.og.description)
		else
			meta(property="og:description" content=base.og.description)

		if meta.og.type
			meta(property="og:type" content=meta.og.type)
		else
			meta(property="og:type" content='base.og.type')

		if meta.og.image
			meta(property="og:image:secure_url" content=meta.og.image)
		else
			meta(property="og:image:secure_url" content=base.og.image)

		if meta.og.url
			meta(property="og:url" content=meta.og.url)
		else
			meta(property="og:url" content=base.og.url)

			meta(property="og:site_name" content=name)
		//- END og

		//- START twitter
			meta(property="twitter:card" content="summary_large_image")

		if meta.og.title
			meta(property="twitter:title" content=meta.og.title)
		else
			meta(property="twitter:title" content=base.og.title)

		if meta.og.description
			meta(property="twitter:description" content=meta.og.description)
		else
			meta(property="twitter:description" content=base.og.description)

		if meta.og.image
			meta(property="twitter:image" content=meta.og.image)
		else
			meta(property="twitter:image" content=base.og.image)
		//- END twitter

		//- START css
		link(rel="stylesheet" href="/assets/css/index.css")
		//- END css

		//- START canonical
		link(rel="canonical" href=origin + page.pathname)
		//- END canonical
